* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.fa-star {
  color: #d9d6d6; /* Color for the empty star */
}

.fa-star.checked {
  color: gold; /* Color for the filled star */
}

.intro {
  height: 200px;
  position: relative;
  background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.pic {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: -100px;
  left: 100px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pic a {
  position: relative;
  left: 155px;
  bottom: 50px;
}
.pic a img {
  width: 40px;
  height: 40px;
  border-radius: 0;
}
.title {
  width: fit-content;
  font-size: 50px;
  position: relative;
  bottom: 26px;
  left: 320px;
  color: #080202;
}

.informations {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: auto;
  margin-top: 9rem;
  height: fit-content;
  padding: 30px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info h2 {
  color: #7d2ae8;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 3rem;
  justify-content: space-between;
}
.card {
  width: calc(90% / 3);
  height: 200px;
  background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
  border-radius: 7px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 10px 40px;
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.card p {
  color: #482b61;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  text-decoration: none;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@media (max-width: 855px) {
  .card {
    width: calc(90% / 2);
  }
}

.image-update {
  /* display: none; */
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s linear, height 0.5s linear;
  position: absolute;
  top: 100px;
  left: 35%;
  width: 400px;
  /* height: fit-content; */
  background-color: #ffff;
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.image-update form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}
.image-update form label {
  font-size: 25px;
  color: #7d2ae8;
}

.image-update form input {
  border-radius: 10px;
  border: 2px solid #7d2ae8;
  padding: 10px;
}

#span {
  position: relative;
  top: 0;
  left: 340px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.container {
  transition: filter 0.2s linear;
}

.show {
  opacity: 1;
  height: fit-content;
}
.blur {
  filter: blur(10px);
}

/* Table Styles */
h2 {
  color: #7d2ae8;
}
.table-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}
